@CHARSET "utf-8";
.editor{
	width:99%;
	max-height:100%;
	display:block;
	margin:0 auto;
	background-color:rgb(245, 245, 247);
	float: right;
	overflow-y: auto;
}
.editpanel{
	width: 100%;
	height: auto;
}

.editpanel tr{
	height: 46px;
}
.editpanel tr td{
	padding: 4px 6px;
	border-bottom: 1px solid #ccc;
}
.editpanel tr td:first-child{
	text-align: right;
	width: 16%;
}
input[data-role], select[data-role]{
	height: 26px;
	min-width: 60%;
}
.btn{
	padding: 6px 12px;
	text-align: center;
	background-color: #2694e8;
	margin: 20px auto;
}
textarea[data-type="kindeditor"]{
	width:100%;
	height:200px;
	visibility:hidden;
	margin:0 auto;
}